rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /alerts/{alertId} {
      allow read, write: if true;
    }
    match /high_risk_alerts/{alertId} {
      allow read, write: if true;
    }
  }
}
